@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html{
  max-width: 100%;
  overflow-x: hidden;
}


.btnShadow{
  box-shadow: -2px 22px 38px 0px rgba(142, 255, 154, 0.50);
}

.dropShadow{
  fill: #fff;
  filter: drop-shadow(6px 27px 34px rgba(0, 0, 0, 0.26));
}

.scroll{
  overflow-x: scroll;
}