@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html{
  max-width: 100%;
  overflow-x: hidden;
}



.bgcover{
  background-image: url('/pizza.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.btnShadow{
  box-shadow: -2px 22px 38px 0px rgba(142, 255, 153, 0.586);
}

.dropShadow{
  fill: #fff;
  filter: drop-shadow(6px 27px 34px rgba(0, 0, 0, 0.26));
}

.scroll{
  overflow-x: scroll;
}

.cartShadow{
  box-shadow: 7px 13px 39.3px 0px rgba(190, 255, 140, 0.55);
}


@layer utilities {


.flex-test { 
    @apply  relative flex flex-col gap-10 lg:flex-row lg:px-[4rem] lg:py-[6rem] max-w-[1582px] justify-center items-center w-full px-5 py-7 ;
  }
}


/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

